body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#e5d3b3;
    font-family: "Quattrocento", sans-serif;
}

main p {
    padding: 1em;
}

header {
   background-image: url(images/realheader.svg);
   background-repeat: no-repeat;
   height: 60vh;
   margin: 0;
   padding: 0;
}

header h1 {
    text-align: center;
    color: #e5d3b3;
    margin-top: 1em;
}

header h2 {
    text-align: center;
    color: #e5d3b3;
    margin-top: 3em;
    font-size:medium
}

header img {
    width: 45px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}

footer {
    text-align: center;
    background-color: #987554;
    padding: 0.5em;
    margin-top: auto; /* pushes footer to bottom */
    margin-bottom: 84px;
}

h2 {
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-left: 20em;
    margin-top: 1em;
}

header nav ul li a {
    text-decoration: none;
}

.center {
    text-align: center;
    margin: 1em 1.5em;
}

nav.center ul {
    list-style: none;
    padding: 0;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav.center ul li {
    width: 10em;
    margin: 1em 0;
    border-radius: 4em;
    background-color: #987554;
    padding: 1em;
}

nav.center ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

nav.bottom-navigation {
    background-color: #d2b48c;
    padding: 1em;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav.bottom-navigation ul {
    list-style: none;
    padding: 0;
}

nav.bottom-navigation ul li {
    display: inline;
    margin-right: 1em;
    margin-left: 1.5em;
}

nav.bottom-navigation ul li img {
    width: 3em;
    height: 3em;
}

.delicious-list {
    list-style: none;
    padding: 0;
    margin-top: 5em;
    margin-bottom: 5em;
}

.delicious-list li {
    margin: 0 1em 2em;
    text-align: center;
    padding: 1em;
    background: #b99976;
    border-radius: 15px;
    max-width: 82%;
}

.delicious-list img {
    max-width: 70%;
    border-radius: 1em;
    margin-top: 1em;
}

.delicious-list p {
    text-align: center;
    background: #e5d3b3;
    border-radius: 0.5em;
    margin: 2em;
    margin-top: 1em;
    padding: 1em;
}

.goodsimage {
    max-width: 40%;
    height: auto; /* images wont distort when resizing */
    padding: 0.3em;
    border-radius: 1em;
}

.goodsimage-container {
    display: grid;
    text-align: center;
    max-width: 70%;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 1em;
    margin-right: 1em;
}

section article:nth-child(odd) { /* alle oneven images this style */
    display: flex;
    align-items: center;;
    flex-direction: row;
    border-radius: 1em;
    margin-bottom: 1em;
    background:#b99976
}

section article:nth-child(even) { /* alle even images this style */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 1em;
    margin-bottom: 1em;
    background: #d2b48c
}

section article:nth-child(odd) > p { 
    margin-right: 1em;
    margin-left: 0.5em;
    flex: 1;
    text-align:initial
}

section article:nth-child(even) > p {
    margin-right: 0.5em;
    flex: 1;
    text-align:end
}

section article p {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inline-image {
    max-width: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 1em;
}

.inline-text {
    margin-top: 5em;
    padding: 0 2em;
    margin-bottom: 5em;
}
